.left-side, .right-side {
    height: 500px;
    width: 100%;

}

.left-side{
    flex-direction: column;
   
}

@media screen and (min-width: 768px) {
    .left-side {
        border-right: solid #7d0000 2px;
    }
   
}

.store-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: #000;
}

.card-info h3 {
    color: #fff;
}



 

.right-side{
    flex-direction: column;
}

.info-slider {
    display: flex;
    align-items: center;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-control-prev {
    border-radius: 10px 0 0 10px;
}

.carousel-control-prev:hover {
    background: black;
    
}

.carousel-control-next {
    border-radius: 0 10px 10px 0;
}

.carousel-control-next:hover {
    background: black;
}

.store-hours {
    text-align: start;
    color: #fff;
}

.store-hours-btn {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.contact-btn {
    border: none;
    background: #7d0000;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 30px;
}  

.order-btn {
    border: none;
    background: #7d0000;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 30px;
}

.right-side img {
    
    width: 450px;
    height: 400px;
}

