

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    background: #7d0000;
    color: white;
    border-radius: 10px;
   
}

.features-boxed h2 {
    font-size: 50px;
    font-family: 'Galada', cursive;
    margin-top: 10px;
}

.features-boxed p {
    font-size: 20px;
}

.product-box {
    border-radius: 10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
}

.description {
    text-align: center;
    margin-top: 20px;
}

.prod-btn {
    margin-top: 30px;
}

.features-boxed .features {
    padding: 50px 0;
}

.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 10px 0 20px;
}

.features-boxed .item .pizza-img {
    height: 200px;
}

.price {
    font-size: 1em;
}

span {
    margin-left: 10px;
}
